# ====================
# Node.js (app/)
# ====================
app/node_modules/

# ====================
# Python (backend/)
# ====================
backend/venv/
backend/logs/
backend/*.log
backend/dump.rdb


# ====================
# Editor / OS
# ====================
.vscode/

# ====================
# General Logs / Temp
# ====================
*.log
*.tmp
*.bak
*.pid
*.seed
.tox/
.pytest_cache/
coverage/
htmlcov/
